# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
build/
bin/
obj/

# Local env files
.env
.env.local
.env.*.local

# IDE configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase cache
.firebase/
firebase-debug.log
ui-debug.log
